@tailwind base;
@tailwind components;
@tailwind utilities;


*body{
    font-family: "Gilroy";
    cursor: url('https://cdn-icons-png.flaticon.com/512/3771/3771695.png') 16 16, auto;
}

::selection{
    color: rgb(223, 172, 33);
}
